# Ignorar arquivos de dados sensíveis e apresentações
*.xlsx
*.xls
*.csv
*.pdf
*.pptx
!Base_Demo_Baguncada.xlsx

# Ignorar Banco de Dados
*.db
*.sqlite3

# Ignorar ambientes virtuais e cache do Python
backend/venv/
venv/
__pycache__/
*.pyc

# Ignorar uploads e arquivos temporários
backend/uploads/
.env

# Ignorar artefatos de build AWS Lambda
backend/build_lambda/
backend/temp_unzip/
backend/deploy.zip
test_zip/
